    body{
      overflow-x: hidden;
      width: fit-content;
    }   
    
  html{
    scroll-behavior: smooth;
  }
  nav{
    height: 1px;
    width: 100%;
}
  .logo {
    height: 3vh;
    position: relative;
    top: 1em;
    
  }
.header_sec{
  display: flex;
    justify-content: space-evenly;
    top: -9px;
    position: relative;
}
.effect{
  text-decoration: none;
  
  font-weight: 550;
  font-size: 16px;
line-height: 21px;
color: #282828;
font-family: "Poppins"
}

.inside{
  height: 35em;
  background-color: rgb(241, 248, 255);
  position: relative;
  bottom: 2vh;

  
}
.now_avai h1{
  color: #0086ff;
    font-size: 70px;
    font-family: 'Bungasai', sans-serif;
    position: relative;
    bottom: -7vh;                                               
}
.contant{
  color: #282828;
  font-family: "Poppins"
  
  
}
.info{
  
  color: black;
  font-weight: 00;
  font-size: 14px;
font-family: "Poppins"
}

.header-list{
  list-style: none;
  width: 28em;
  justify-content: space-between;
  display: flex;
}
  .search_bar{
    float: right;
    width: 40px;
    position: relative;
    top: -13px
    
  }
  .pink_img{
        position: relative;
    bottom: 27em;
    right: -44em;
  }
  .now_avai{
    position: relative;
    width: 30em;
    left: 22vh;
    top: 84px;

  }
  .read_more{
    padding: 13px;
    color: white;
    background-color: #1b9bff;
    font-size: 17px;
    width: 147px;
    text-align-last: center;
    position: relative;
    bottom: -28px;
  }
  .read_more2{
    border-color: #fff;
    border: 2px solid #1b9bff;
    font-size: 15px;
    width: 147px;
    text-align-last: center;
    margin-left: 33%;
    position: relative;
    left: 67px;
    padding: 13px;
    top: -38px;
  }

  .sec_container{
    height: 25em;
    width: 100%;
    display: flex;
  }

  .first_div{
    width: 44em;
    position: relative;
  
    top: 10px;
    height: 35em;
  }
  .second_div{
    width: 39em;
    
    position: relative;
    height: 35em;
    top: 10px
  }

  .second_div h1{
    color: #0086ff;
    font-size: 50px;
    font-family: 'Bungasai', sans-serif;
  }
  .about{
    font-size: 12px;
    color: #ff00ce;
    font-family: "Poppins"
  }
  .lorem{
    font-family: "Poppins";
    font-size: large
  }
   .three_paira{
     font-weight: 300;
    font-family: "Poppins"
    
  }
  .right{
    position: relative;
    top: 6px;

  }
.lady_img{
      position: relative;
    left: 40px;
  
}
.line_1{
  position: relative;
    top: 8vh;
}
.third_container{
  height: 36em;
  background-color: #0086ff;
}
.containt{
  display: flex;
  width: 157vh;
  height: 72vh;
  position: relative;
  left: 45vh

}
.best_selles_book{
  position: relative;
  top: 21vh;
  left: -18vh;

}
.best_selles_book{
position: relative;
overflow: hidden;
}

.best_selles_book > img{
transition: transform 200ms;

}

.best_selles_book:hover > img{
transform: scale(1.05);
}
.about_book{
  color: white;
    font-family: "Poppins";
    position: relative;
    bottom: 2vh;
    text-align: center;
    right: 1vh;
}
.head_ofbook{
  color: white;
    font-size: 50px;
    font-family: 'Bungasai', sans-serif;
    position: relative;
    left: 72vh;
    top: 25vh;
}
.book_img{
  width: 234px;
    height: 328px;
}

.five{
  height: 30em;
  background-color: rgb(241, 248, 255);
}







.forth_container{
  height: 35em;

  
}
.container_of_forth_block{
  display: flex;
  width: 162vh;
  height: 35vh;
  position: relative;
  left: 12em;
  top: -2vh
}
.latest_blog{
 width: 321px;
    height: 222px;
  
}

.blog_img{
  width: 77vh;
  height: 45vh;
  
}
.latest_book{
  font-size: 50px;
    font-family: 'Bungasai', sans-serif;
    position: relative;
    color: #0086ff;
    text-align: center
}
.details_of_blog{
  position: relative;
  height: 50px;
  font-size: 17px;
  color: #282828;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  bottom: 3vh;
  right: 20px;

}

.info_book{
  font-size: 14px;
  line-height: 25px;
  color: #595959;
  font-family: "Poppins";
  text-align: center;
  right: 19px;
  position: relative;
  bottom: 44px;
  left: -18px;
}

.read_more_icone1{
  left: 10vh;
    padding: 13px;
    color: white;
    background-color: #1b9bff;
    font-size: 17px;
    width: 147px;
    text-align-last: center;
    position: relative;
    bottom: 45px
}
.read_more_icone2{
 border-color: #1b9bff;
    border: 2px solid #1b9bff;
    font-size: 15px;
    width: 147px;
    text-align-last: center;
    margin-left: 33%;
    position: relative;
    padding: 13px;
    top: -41px;
    left: -7vh
}
.read_more_icone3{
  padding: 13px;
    color: white;
    background-color: #1b9bff;
    font-size: 17px;
    width: 147px;
    text-align-last: center;
    position: relative;
    bottom: 42px;
    left: 12vh;
}
    


.fifth_container{
   height: 26em; 
   background-color: rgb(241, 248, 255);
}

.latest_book2 {
  font-size: 50px;
    font-family: 'Bungasai', sans-serif;
    position: relative;
    color: #0086ff;
    text-align: center;
    bottom: -5vh;
}

.container_ofcostomers{
  height: 289px;
  display: flex;

}
.line_bar{
  position: relative;
  bottom: 17vh;
  left: 36vh
}
.customers{
  width: 963px;
  height: 180px;
  background-color: #ffffff;
  border: 2px solid #ffedfc;
  position: relative;
  left: 29vh;
  text-align: center;

}

.allabout_costomers{
    width: 119vh;
    position: relative;
    left: 13vh;
    bottom: -4vh;
}

.about_costomer{
  width: 888px;
height: 78px;
font-size: 14px;
letter-spacing: 0px;
line-height: 26px;
color: #282828;
font-weight: 300;
font-family: "Poppins";
text-align: center;
}
.subscribe_bar{
  height: 168px;
  background-color: #ff00ce;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 7vh;
}
.text{
  font-size: 44px;
  color: #ffffff;
  font-family: "Bungasai";
  position: relative;
  bottom: 20vh;
  left: 28vh;
}
.emailid_bar{
  height: 66px;
  border-radius: 33px;
  background-color: #ffffff;
  position: relative;
  left: 26vh;
  bottom: -8vh;
  border: none;
  width: 69vh;
}
.submit{
  width: 115px;
  height: 54px;
  border-radius: 27px;
  background-color: #0086ff;
  position: relative;
  left: 3vh;
  color: white;
  top: 8vh;
  border: none
}
four_line{
  position: relative;
width: 16vh;
}

.sixth_container{
  height: 29em;
  background-color: #102233;
  position: relative;
  top: 25vh;
}
.footer{
  display: flex;
  width: 167vh;
  
  height: 18em;
  position: relative;
  bottom: 70vh;
  left: 26vh;
}

.footer_content{
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Poppins";
  width: 44vh;
  text-align: center;
  position: relative;
  bottom: -11vh
}
    
.line_2{
position: relative;

}

.footer_icone{
  position: relative;
  left: 77em;
  bottom: 449px;
}

.last_footer{
  position: relative;
    height: 72px;
    background-color: #0e1821;
    bottom: 55vh;
}
.char_white{
  font-size: 5px;
  
}

.email{
  color: #1b9bff;
}
.raine{
  text-align: center;
  color: white;
  top: 4vh;
  position: relative;
}
@media only screen and (max-width: 720px) {
  body{
    width: 98em ;

  }
}
@media only screen and (max-width: px) {
  body{
    width: 83em;
  }
  .logo {
    height: 3vh;
    position: relative;
    top: 1em;
    
  }
.header_sec{
  display: flex;
    justify-content: space-evenly;
    top: -9px;
    position: relative;
}
.effect{
  text-decoration: none;
  
  font-weight: 550;
  font-size: 16px;
line-height: 21px;
color: #282828;
font-family: "Poppins"
}

.inside{
  height: 35em;
  background-color: rgb(241, 248, 255);
  position: relative;
  bottom: 2vh;

  
}
.now_avai h1{
  color: #0086ff;
    font-size: 70px;
    font-family: 'Bungasai', sans-serif;
    position: relative;
    bottom: -7vh;                                               
}
.contant{
  color: #282828;
  font-family: "Poppins"
  
  
}
.info{
  
  color: black;
  font-weight: 00;
  font-size: 14px;
font-family: "Poppins"
}

.header-list{
  list-style: none;
  width: 28em;
  justify-content: space-between;
  display: flex;
}
  .search_bar{
    float: right;
    width: 40px;
    position: relative;
    top: -13px
    
  }
  .pink_img{
        position: relative;
    bottom: 27em;
    right: -44em;
  }
  .now_avai{
    position: relative;
    width: 30em;
    left: 22vh;
    top: 84px;

  }
  .read_more{
    padding: 13px;
    color: white;
    background-color: #1b9bff;
    font-size: 17px;
    width: 147px;
    text-align-last: center;
    position: relative;
    bottom: -28px;
  }
  .read_more2{
    border-color: #fff;
    border: 2px solid #1b9bff;
    font-size: 15px;
    width: 147px;
    text-align-last: center;
    margin-left: 33%;
    position: relative;
    left: 67px;
    padding: 13px;
    top: -38px;
  }

  .sec_container{
    height: 25em;
    width: 100%;
    display: flex;
  }

  .first_div{
    width: 44em;
    position: relative;
  
    top: 10px;
    h
}